<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>mypackage.Home</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Book a bike</servlet-name>
        <servlet-class>mypackage.Book</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Book a bike</servlet-name>
        <url-pattern>/bob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contact Us</servlet-name>
        <servlet-class>mypackage.Contact</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Contact Us</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>mypackage.Search</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

</web-app>
